historial_data.xlsx
user_data.xlsx
key.py
app/router/arbol_problemas.xlsx
config.json
Arbol de problemas y objetivos.xlsx
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
app\router\__pycache__
app\__pycache__
app\utils\__pycache__
*.py[cod]
*$py.class